.promo {
  position: relative;
  min-height: 932px;
  overflow: hidden;
  &:before {
    position: absolute;
    content: "";
    background: url("../img/promo_background.jpg")  center/cover no-repeat;
    top: 0;
    right: 0;
    left: 0;
    bottom: -15%;
    z-index: -1;
  }
  &__title {
    margin-top: 233px;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
  }
  &__subtitle {
    margin-top: 18px;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
  }
  &__work {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 455px;
    min-height: 235px;
  }
  &__wrapper {
    display: block;
    height: 56px;
  }
  &__icon {
    width: 56px;
    height: 56px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85px;
  }
  &__descr {
    margin-top: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}